<span ng-controller='MyCtrl' ng-app="angularSlideables" ng-app='ModalDemo' >

<!-- 	<div class="error">Please insert valid location <a href="#" class='x'>x</a></div> -->
<!-- MOBILE HEADER -->
	<div class="hidden-header" ng-app="angularSlideables">
	    <a class="min-logo" href="#/">Plate on Plate</a>
	   	<img slide-toggle="#derp" class="hamburger" src="/imgs/hamburger-01.png" />
	    <div id="derp" class="slideable">
			    <p><a ng-click='toggleModal1()'>Register</a></p>
			    <modal-dialog show='modalShown' width='300px' height='55%'>
			      <form class="register-modal">
			      	<span class='register'>Register</span>
			      	<input type="text" placeholder='email'>
			      	<input type="text" placeholder='name'>
			      	<input type="text" placeholder='password'>
			      	<input type="text" placeholder='confirm password'>
			      	<input type="submit" value="Signup">
			      </form>
			    </modal-dialog>
		    		<p ng-click='toggleModal()'><a>Sign In</a></p>
				    <modal-dialog show='modalShown1' width='300px' height='40%'>
				    	<span class='signin'>Sign In</span>
				     	<form class="register-modal">
				      	<input type="text" placeholder='email'>
				      	<input type="text" placeholder='password'>
				      	<input type="submit" value="Sign In">
				      </form>
				    </modal-dialog>
	        <p><a href="#">Help</a></p>
	        <p><a href="#">List Your Plate</a></p>
	    </div>
	</div>
<!-- FULL LENGTH HEADER -->
	<div class="background-img">
		<div class="row header">
		   	<div class="four columns"><span class="logo"><a href="#/">Plate on Plate</a></span></div>
		    <div class="eight columns, u-pull-right">
		    	<ul class="headlinks">
				    <li><a class="sign-up-button" ng-click='toggleModal1()'>Register</a></li>
				    <modal-dialog show='modalShown' width='300px' height='400px'>
				    	<span class='register'>Register</span>
				     	<form class="register-modal">
				      	<input type="text" placeholder='email'>
				      	<input type="text" placeholder='name'>
				      	<input type="text" placeholder='password'>
				      	<input type="text" placeholder='confirm password'>
				      	<input type="submit" value="Signup">
				      </form>
				    </modal-dialog>
		    		<li class="sign-up-button" ng-click='toggleModal()'><a>Sign In</a></li>
				    <modal-dialog show='modalShown1' width='300px' height='300px'>
				    	<span class='signin'>Sign In</span>
				     	<form class="register-modal">
				      	<input type="text" placeholder='email'>
				      	<input type="text" placeholder='password'>
				      	<input type="submit" value="Sign In">
				      </form>
				    </modal-dialog>
		    		<li><a href="">Help</a></li>
		    		<li><a class="lyp, button" href="">List Your Plate</a></li>
		    	</ul>
		    </div>
		</div>
	<!-- CALL TO ACTION -->
		<div class="container call-to-action">
			<div class="row">
				<div class="twelve columns" >
					<h1>Satisfy Your Soul</h1>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns" >
					<h4>Home cooked meals from local hosts</h4>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<a class="button" href="">How It Works</a>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns" >
					<form>
						<input class="form-input" type="text" placeholder="Where do you want to go?">
						<input class="button-primary" type="submit" value="Search">
					</form>
				</div>
			</div>
		</div>
	</div>
</span>